@import url('styles.css');

@media only screen and (max-width: 600px) {
	#container {
		top: 225px;
	}
	#nav {
		height: 140px;
		box-shadow: 0px 4px 4px #888888;
		-webkit-box-shadow: 0px 4px 4px #888888;
	}
	#nav li {
		width: 100%;
	}
}